/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

.container {
    max-width: 350px;
    margin: 0 auto;
    min-height: 60px;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mg-main {
    margin-top: 60px;
}

.mg-bo-40 {
    margin-bottom: 40px;
}

.bgc-white {
    background-color: #fff;
}

.bgc-purple {
    background-color: #9792e4;
}

.free-card {
    margin-top: 40px;
    height: 300px;
    width: 100%;
}


/* Header */
header {
    position: relative;
    min-height: 60px;
}


.navbar {
    min-height: 60px;
    background-color: #0084fd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.column {
    height: 25px;
    background-color: #fff;
}

/* Main */

/* First section */
.row {
    width: 100%;
}

.card {
    border-radius: 40px;
    background-color: #b5ddff;
    height: 550px;
    width: 350px;
    padding: 50px 50px;
}

.text {
    width: 80%;
    height: calc(100% / 3);
    background-color: #ff0;
}

.button {
    width: 80%;
    height: calc(100% / 3);
    background-color: #00f;
}

.picture {
    height: calc(100% / 3);
    width: 80%;
    background-color: #f0f;
}

/* Second section */

.free-card .picture,
.free-card .text {
    width: 100%;
}

/* third section */